{%extends 'main.html'%}
{%block content%}

<div >
    <h2>

        Enquirys
    </h2>
    
    <table id="enquirys">
        <tr>
          <th>Enrolled in</th>
          <th>Name</th>
          <th>Contact Number</th>
          <th>Joining Date</th>
          <th>Enquirys by</th>
        </tr>
        {%for enquiry in enquirys %}
            <!-- <tr onclick="alert('{{enquiry.message}}')"> -->
            <tr onclick="alert('Message :{{enquiry.message}}')">
                <td>{{enquiry.When.date}} at {{enquiry.timming}}</td>  
                <td>{{enquiry.name}}</td>
                <td>{{enquiry.number}}</td>
                <td>{{enquiry.joining_date}}</td>
                <td>{{enquiry.visit_type}}</td>
            </tr>
        {%endfor%}
        
      </table>
      



</div>


<style>
#enquirys {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#enquirys td, #enquirys th {
  border: 1px solid #ddd;
  padding: 8px;
}

#enquirys tr:nth-child(even){background-color: #f2f2f2;}

#enquirys tr:hover {
  background-color: #ddd;

}

#enquirys th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(247, 44, 44);
  color: white;
}

h2{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
  
</style>

{%endblock%}
