{%extends 'main.html'%}
{%block content%}
<style>
    #home_page {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      #home_page td, #home_page th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
      #home_page tr:nth-child(even){background-color: #f2f2f2;}
      
      #home_page tr:hover {background-color: #ddd;}
      
      #home_page th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
      }
      

</style>
<div>
    <table id="home_page">
        <tr>
            <td>Enquirys</td>
            <td>{{enquirys}}</td>
        </tr>
        <tr>
            <td>Members</td>
            <td>{{members}}</td>
          </tr>
          <tr>
            <td>Take Attendance</td>
            <td>{{attendance}}</td>
          </tr>
    </table>
</div>
{%endblock%}
