{% extends "main.html" %}

{%block content%}

{% if page == 'login' %}
    <div>
        <h1>User login</h1>
        <form method='POST' action="">
            {% csrf_token %}

            <label for="username"> Username</label>
            <input type="text" placeholder="username" name="username"> 

            <label for="password">password</label>
            <input type="password" placeholder="password" name="password">


            <input type="submit" value="Login" />
        </form>
        <p>havent register yet?</p>
        <a href="{% url 'register' %}">register</a>
    </div>
{%else%}
    <div>
        <h1>Register</h1>
        <form method='POST' action="">
            {% csrf_token %}
            {{form.as_p}}

        <input type="submit" value="Register" />
        </form>
        <p>already signed up yet?</p>
        <a href="{% url 'login' %}">login</a>
    </div>
{%endif%}
{%endblock content%}

