<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>

        <h1>
            login bro
        </h1>

        <form method="POST">
            {% csrf_token %} 
            {%for x in messages %}
                <h3>{{x}}</h3>
            {% endfor %}
            Name <input type="text" name="name"> <br>
            Password <input type="password" name="password"><br>
            <br>
            <input type="submit" ><br>
            <a  href="register">register</a>
        </form>    
    </center>
</body>
</html>